<form action="/square_root/results">
  <div>
    <label for="sq_root">Enter a number</label>
  </div>
  
  <div>
    <input id="sq_root" type="text" placeholder="What number do you want the square root?" name="user_number">
  </div>
  
  <div>
    <button>Calculate square root</button>
  </div>
</form>
